@page "/Home"

<h1>Bible Playlist</h1>

We're glad you're here.  Coming soon you'll be able to create playlist of your favorite Scriptures and listen to them on loop as you go to throughout your day or go to sleep.  Saturate your life with the Word of God.  If you're new to the Bible, the book of John is good place to start.