@using System.Reflection
@inherits LayoutComponentBase
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Dark" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        Bible Playlist
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            @Body
        </MudContainer>
        <div class="text-right mr-1">
            <sub>@($"v{appVersion}")</sub>
        </div>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;
    protected string fullAppVersion => Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()!.InformationalVersion;
    protected string appVersion;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // Normalize informational version like "v0.1.9.0+aa2dac77..."
        var fv = fullAppVersion ?? string.Empty;

        // Remove build metadata starting with '+'
        var plusIndex = fv.IndexOf('+');
        if (plusIndex >= 0)
            fv = fv.Substring(0, plusIndex);

        
        appVersion = fv;
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}